body {
    background-color: rgb(51, 32, 8);

}





.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px 40px;
    background-color: white;
    width: 35vw;
    margin: 40px auto;
    border-radius: 8px;

}

.headBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5vw;
}


.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

#input {
    width: 25vw;
    padding: 8px;
    font-size: 16px;
    outline: none;

}

.add {
    width: 6vw;
    height: 5.5vh;
    background-color: rgb(67, 43, 14);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

 

.works{
    margin: 0;
    padding: 0;
}


.works li {
    width: 31vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(54, 34, 10);
    color: azure;
    padding: 12px;
    font-size: 19px;
    border-radius: 8px;
    text-decoration: none;
    margin: 1em 0;
}

.works li .delete {
    border: none;
    background-color: red;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 12px;
    line-height: 1rem;
    border-radius: 4px;
}


.clearAll{
    width: 8vw;
    height: 4vh;
    background-color: rgb(14, 67, 21);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.hid {
    visibility: hidden;
}
.none{
    display: none;
}